.app {
    max-width: 59em;
    margin: 0 auto;
}

.app__header {
    text-align: center;
    padding: 1em;
}

.app__footer {
    text-align: center;
    font-size: 0.9em;
    color: #474747;
    margin: 3em 1em;
}
